body {
    min-height: 100vh;
    background-image: url(https://i.redd.it/6cejpx6as6y21.png);
    background-attachment: fixed;
    background-size: cover;
}

.boss-container {
    width: 100%;
    height: 100%;
}

.boss-card {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url(https://i.pinimg.com/originals/30/2e/c1/302ec1b1a634cbf0d27025d08785dbb5.png);
    overflow: hidden;
    border: 0;
}

.boss-container .boss-card .health .remaining {
    background-color: green;
    height: 2rem;
    color: lightgreen;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    text-align: center;
    transition: 400ms;
}

.boss-container .boss-card .health {
    flex-grow: 1;
}

.boss-container .boss-card .name {
    font-weight: bolder;
    text-align: center;
}

.boss-container .boss-card .avatar {
    padding: 0;
}

.boss-container .boss-card .avatar img{
    width: 100%;
    padding: 0;
}



/* Hero card elements */

.hero-container .hero-card .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


.hero-container .hero-card {
    background-color: #303030;
    border: white solid 0.4rem;
    border-radius: 1.7rem;
    padding: 0.5rem;
    min-width: 200px;
}

.hero-container .hero-card .title .name {
    margin: 0;
    font-weight: bold;
    color: white;
}

.hero-container .hero-card .title .avatar {
    padding: 0;
}

.hero-container .hero-card .title .avatar img{
    height: 4rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-container .hero-card .stats .hitpoints {
    color: white;
    font-weight: bold;
    font-size: 0.95rem;
}

.hero-container .hero-card .stats .hitpoints p{
    flex-grow: 1;
    width: 50%;
    margin: 0;
}

.hero-container .hero-card .stats .gold {
    color: white;
    font-weight: bold;
    font-size: 0.95rem;
}

.hero-container .hero-card .stats .gold p{
    flex-grow: 1;
    width: 50%;
    margin: 0;
}

.hero-container .hero-card .stats .level {
    color: white;
    font-weight: bold;
    font-size: 0.95rem;    
}

.hero-container .hero-card .stats .level p{
    flex-grow: 1;
    width: 50%;
    margin: 0;
}